.ems-list,
.percentages-list,
.rems-list {
    width: 50%;
}

.ems-list li {
    font-size: 1.2em;
}

.rems-list li {
    font-size: 1.2rem;
}

.percentages-list li {
    font-size: 120%;
}

.sky-background {
    background: url("../images/background-sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
}

.color-examples {
    padding: 8px 16px;
}

.color-example {
    border: none;
    border-radius: 15px; 
    padding: 15px;
}

.blue {
    background-color: rgba(2, 121, 139, .3);
}

.violet {
    background-color: rgba(197, 93, 161, .7);
}

.green {
    background-color: rgba(18, 138, 125, .9);
}