.preview {
    width: 90%;
    border: 1px solid #a1a3aa;
    border-radius: 2px;
    padding: 10px 14px 10px 10px;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}

.wrapper>* {
    margin-right: 10px;
}