.background-colors .box {
    background-color: #567895;
}

.background-colors :is(h2, h3) {
    background-color: black;
    color: white;
}

.background-colors span {
    background-color: rgba(255, 255, 255, 0.5);
}

.background-images .box {
    width: 100%;
    height: 150px;
    margin-right: 5%;
    padding: 1rem;
}

.background-images .box:last-child {
    margin-right: 0;
}

.background-images .balloon-background {
    background: #77d9fd url('/images/icons8-party-balloon-80.png');
}

.background-images .star-background {
    background: #e5a4ee url('/images/icons8-star-96.png');
}

.background-images :is(.star-background, .balloon-background) {
    background-size: 40px;
}

.background-images .no-repeat {
    background-repeat: no-repeat;
}

.background-images .repeat-x {
    background-repeat: repeat-x;
}

.background-images .repeat-y {
    background-repeat: repeat-y;
}

.background-images .contain {
    background-size: contain;
}

.background-images .cover {
    background-size: cover;
}

.background-images .gradient-background {
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(61, 159, 60, 0.5702442842371324) 23%, rgba(78, 152, 58, 1) 42%, rgba(56, 147, 213, 0.8251462450214461) 57%, rgba(165, 102, 170, 0.6262666932007177) 82%, rgba(252, 70, 107, 1) 100%);
}

.background-images .multiple-images-background {
    background: url("/images/icons8-star-96.png") 1rem 1rem / 7rem no-repeat, url("/images/icons8-party-balloon-80.png") 3rem 4rem repeat-x, #e37cf1;
}