html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, Helvetica, "sans-serif";
  color: black;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

ol,
ul {
  font-size: 0.9rem;
}

ol ol,
ol ul,
ul ul,
ul ol {
  font-size: inherit;
}

hr {
  margin: 1.25rem -1rem;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code {
  background-color: #eee;
  color: orangered;
  padding: 0 0.25rem;
}