@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, Helvetica, "sans-serif";
  color: black;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.4rem;
}

ol,
ul {
  font-size: 0.9rem;
}

ol ol,
ol ul,
ul ul,
ul ol {
  font-size: inherit;
}

hr {
  margin: 1.25rem -1rem;
  border: 0;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


:is(h1, h2)>a:only-child {
  text-decoration: none;
  color: black;
}

:is(h1, h2)>a:only-child:hover {
  text-decoration: underline;
}

:is(h1, h2)>a:only-child:hover::after {
  margin-left: 10px;
  content: "#";
  font-size: 90%;
  color: #606060;
}

table {
  border: #c2c2c2 1px solid;
  border-collapse: collapse;
  width: 100%;
}

table th {
  line-height: 1.5;
}

table th,
table td {
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
  border: #c2c2c2 1px solid;
}
